body{
  background-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  padding: 20px 0px;
  z-index: 1500;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Alinea a la derecha */
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.nav-list li {
  margin-left: 30px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  transition: color 0.4s;
}

.nav-list a:hover {
  color: #f39c12;
}

.color-block {
  position: relative;
  height: 200px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: move-horizontal 4s infinite alternate ease-in-out;
}

.red { background-color: #F41590;
padding: 20px;
margin-left:180px;  
margin-right:780px

 }
.blue { background-color: #F47215;
  padding: 20px;
  height: 50px;
 }

/* Animación horizontaaaaal
@keyframes move-horizontal {
  0% {
    transform: translatex(0);
  }
  10% {
    transform: translateX(500px); /* Puedes ajustar el valor */
  }
}

.video-section {
  position: relative;  
  width: 100%;  
  height: 100vh;  
  overflow: hidden;
}

.background-video {  
  position: absolute;
  width: 100%;  
  height: 110%;  
  object-fit: cover;  
  z-index: 1;
}

.video-overlay-text {  
  position: relative;  
  z-index: 2;  
  color: white;  
  text-align: right;  
  padding: 180px 50px;
  margin-left: 760px;  
  font-family: 'Jura', sans-serif;
}


.hero-img-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay-text{
  position: absolute;
  margin-bottom: 18%;
  width: 55%;
  z-index: 2;  
  color: #ffff;
}

.color-block {
  position: relative;  
  height: 160px;  
  margin-bottom: 10px;  
  display: flex;  
  align-items: center;  
  justify-content: center;
}


.block-text {  
  color: white;  
  font-family: 'Jura', sans-serif;  
  z-index: 2;
  margin-right:920px;
  margin-left:80px;

div.columna {
  display: grid !important;
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-rows: 1fr;
}

.hero-img-wrap2 {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
  max-height: 100vh;
  overflow: hidden;
}

.hero-img2 {
  position: absolute;
  width: 90%;  
  height: 60%;  
  object-fit: cover;  
  z-index: 1;
}

.overlay-text2 {
  position: absolute;
  width: 45%;
  z-index: 2;
  color: #ffff;
}

}